h3 {
    margin-top: 0;
}

h1 {
    margin-bottom: 1rem;
}

form {
    margin-top: 1rem;
    text-align: center;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

.container-fluid {
    width: 90%;
}

.saved {
    border-style: none !important;
}

.list-group .list-group-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    }

a {
    color: black;
}

textarea {
    width: 85%;
}
.form-control {
    margin-top: 1rem;
}
